.python-version

# Variables d'environnement avec les credentials du compte spotify
.env

# Large datasets in the folders inputs and data
inputs/*.csv
data/*.csv

# Working notebooks (not finalized)
draft/